.container-parent {
  margin-left: 125px;
  margin-top: 50px;
  display: flex;
}

.container-cont:last-child {
  margin-left: 50px;
}

.container-cont {
  border-top: solid 3px #008080;
  background: white;
  width: fit-content;
}

.inner-container-cont {
  padding: 10px;
}

.container-cont h1 {
  color: #0e0e0e;
  font-size: 20px;
  font-weight: normal;
  padding: 1px 4px;
  background: rgb(0, 128, 128, 0.2);
  color: black;
}

.container-form {
  display: flex;
  flex-direction: column;
}

.container-form input,
.container-form select,
.container-form label {
  margin: 4px;
}

.container-form input[type="submit"] {
  width: fit-content;
}

.container-form label {
  font-weight: bold;
}

.container-form-second input {
  margin: 4px;
}

.container-form-search-results {
  margin: 4px;
}
