.container-parent {
  margin-left: 125px;
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.container-cont {
  border-top: solid 3px #008080;
  background: white;
  width: moz-fit-content;
  width: fit-content;
  padding: 10px;
}

.inner-container-cont {
  padding: 10px;
}

.container-cont h1 {
  color: #0e0e0e;
  font-size: 20px;
  font-weight: normal;
  padding: 1px 4px;
  color: black;
}

.container-form {
  display: flex;
  flex-direction: column;
}

.container-form input,
.container-form select,
.container-form label {
  margin: 4px;
}

.container-form input[type="submit"] {
  width: fit-content;
}

.container-form label {
  font-size: 16px;
}

.container-form-second input {
  margin: 4px;
}

.container-form-search-results {
  margin: 4px;
}

#vertical-line {
  width: 1px;
  background: #008080;
  display: inline-block;
}
