.customer-form {
  margin-left: 125px;
  margin-top: 50px;
  white-space: pre;
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 2px;
  padding: 10px;
  padding-bottom: 50px;
  background: white;
  border-top: solid 3px #008080;
}

.customer-form h1 {
  color: #0e0e0e;
  font-size: 25px;
  font-weight: normal;
}

.customer-form input[type="submit"]:hover {
  color: #f8f8f8;
}

.customer-form input {
  box-shadow: none;
  outline: none;
}
