.black-button-white-text {
  margin: 10px;
  background: #232323;
  color: #d8d8d8;
  outline: none;
  width: fit-content;
  width: -moz-fit-content;
}

body {
  height: 100vh;
  overflow: hidden;
  background: #f1f1f1;
}
